@{
    ViewData["Title"] = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/AnchorCompany/ReverseList.js"></script>
<script>
    var GetReverseCompanyData = '@Url.Action("GetReverseCompanyData", "AnchorCompany")';
</script>
<div class="main-inner-section">
    <div class="content-upper-section">
        <div class="tabsec-main">
            <div class="tab-content">
                <div id="eInvoices" class="tab-pane fade in active">
                    <div class="row" id="eAnchorCompInvoices">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="search-box-main clearfix">
                                <h4 style="font-size:15px;font-weight:bold;">Reverse Factoring</h4>
                                <div class="col-xs-12 col-sm-4 col-md-4 padding">
                                    @Html.TextBox("txt_CompanyNameSearch", null, new { placeholder = "Search", @class = "searchTerm" })<span class="searchButton"><img src="~/Content/images/searchicon.png" class="img-responsive" style="display: inline;" /></span>
                                </div>

                                <div class="col-xs-12 col-sm-8 col-md-8 padding">
                                    <button id="ExportReverseFactoring" class="excelbutton" style="margin-right:0;">
                                        <img src="~/Content/images/excelicon.png" title="Download Excel File" class="img-responsive" style="display: inline;" />
                                    </button>
                                    @*<button id="btnComapnyFilter" class="filterbtn">
                <img src="~/Content/images/filtericon.png" title="Filter" class="img-responsive" />
            </button>*@
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="main-table-box page-scroll">
                                <div class="table-responsive">
                                    <table id="tbl_CompanyList" class="table table-responsive table-hover table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="width:10%">Company Names</th>
                                                <th style="width:10%">Contact Person</th>
                                                <th style="width:13%">Mobile No.</th>
                                                <th style="width:12%">Email ID</th>
                                                <th style="width:10%">PAN No.</th>
                                                <th style="width:20%">CIN No.</th>
                                                <th style="width:15%">Intrested As</th>
                                                <th style="width:70%">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

